/* Universal */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Helvetica, sans-serif;
    background-color: #373c3f;
}

/* General structure */

.container {
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-rows: 0.75fr 4.5fr;
    grid-template-columns: 1.25fr 4fr;
}

/* Left window */

.left-side {
    background-color: #373c3f;
}

.projects-list-upper-left {
    display: flex;
    grid-row: 1 / 1;
    grid-column: 1 / 1;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
}

h2, .project{
    color: white;
    font-weight: bold;
    font-size: 24px;
}

hr.solid {
    border-top: 1px solid #bbb;
    width: 50%;
}

.projects-list-lower-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 95%;
    overflow-y: auto;
}

.projects-container {
    overflow-y: auto;
    width: 75%;
}

.project {
    display: flex;
    justify-content: space-between;
    background-color: #444a4d;
    padding: 10px;
    width: 100%;
    text-align: left;
    margin-bottom: 10px;
}

/* Right window */

.projects-window-upper-right {
    background-color: #2f3437;
    grid-column: 2;
    grid-row: 1 / 3;
}

.projects-window-lower-right {
    grid-column: 2;
    grid-row: 2 / 3;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

/* Buttons */

.add-project-btn-container {
    padding: 10px;
    margin-top: 40px;
    cursor: pointer;
}

.add-project-btn-container:hover {
    background-color: #444a4d;
}

.add-project-text {
    color: white;
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 3px;
}

.add-project-plus {
    font-weight: bold;
    font-size: 28px;
    color: green;
}

.delete-project:hover {
    color: #bb2424;
    cursor: pointer;
}

/* Form */

.project-form {
    background-color: #3f4447;
    border: 2px solid hsla(0,0%,100%,.5);
    border-radius: 10px;
    width: 600px;
    height: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form-heading {
    color: white;
    font-weight: bold;
    text-align: center;
    font-size: 30px;
}

.form-name {
    margin-bottom: 20px;
}

.form-description {
    margin-top: 20px;
    margin-bottom: 20px;
}

.form-buttons {
    display: flex;
    justify-content: center;
    width: 100%;
}

/* Shared */

.hidden {
    display: none;
}

.button {
    padding: 10px;
    cursor: pointer;
    margin: 20px;
    width: 150px;
    background-color: #444a4d;
    color: white;
    font-weight: bold;
    border-radius: 10px;
    border: 2px solid hsla(0,0%,100%,.5);
    text-align: center;
}

.button:hover {
    background-color: #2f3437;
}