/* Universal */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Helvetica, sans-serif;
    background-color: #373c3f;
}

/* General structure */

.container {
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-rows: 0.75fr 4.5fr;
    grid-template-columns: 1.25fr 4fr;
}

/* Left window */

.left-side {
    background-color: #373c3f;
}

.projects-list-upper-left {
    display: flex;
    grid-row: 1 / 1;
    grid-column: 1 / 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.top-left-header {
    padding-bottom: 10px;
}

h2, .project{
    color: white;
    font-weight: bold;
    font-size: 24px;
}

hr.solid {
    border-top: 1px solid #bbb;
    width: 50%;
}

.projects-list-lower-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 95%;
    overflow-y: auto;
}

.projects-container {
    overflow-y: auto;
    width: 75%;
}

.project {
    display: flex;
    justify-content: space-between;
    background-color: #373c3f;
    padding: 10px;
    width: 100%;
    text-align: left;
    margin-bottom: 10px;
}

.project:hover {
    background-color: #444a4d;
    cursor: pointer;
}

/* Right window */

.projects-window-upper-right {
    background-color: #2f3437;
    grid-column: 2;
    grid-row: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.project-header {
    color: white;
    font-weight: bold;
    padding-left: 70px;
    display: flex;
    flex-direction: column;
}

.projects-window-lower-right {
    background-color: #2f3437;
    grid-column: 2;
    grid-row: 2 / 3;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    overflow-y: auto;
}

.todo-items-container {
    display: flex;
    flex-direction: column;
    height: 85%;
    width: 100%;
    margin-left: 50px;
    overflow-y: auto;
    padding-right: 15px;
}

.add-todo-item-btn {
    display: flex;
    justify-content: flex-start;
    margin-left: 15px;
    margin-bottom: 20px;
    min-width: 15%;
    width: 15%;
    background-color: #444a4d;
    padding: 5px;
}

.add-todo-item-btn:hover {
    background-color: #555349;
    cursor: pointer;
}

.todo-item {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    padding: 15px;
    background-color: white;
    border-radius: 10px;
    border: 2px solid #444a4d;
}

.task-heading {
    color: black;
    font-size: 20px;
    font-weight: 800;
    letter-spacing: 2.75px;
    margin-top: 15px;
}

.task-field {
    letter-spacing: normal;
    font-weight: bold;
    font-size: 18px;
}

/* Buttons */

.add-project-btn-container {
    padding: 10px;
    margin-top: 40px;
    cursor: pointer;
}

.add-project-btn-container:hover {
    background-color: #444a4d;
}

.add-project-text {
    color: white;
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 3px;
}

.add-project-plus {
    font-weight: bold;
    font-size: 28px;
    color: green;
}

.delete-project:hover {
    color: #bb2424;
    cursor: pointer;
}

/* Form */

.project-form, .item-form {
    background: radial-gradient(ellipse at center, hsl(203, 6%, 26%) 0%, rgba(0, 0, 0, 0.836) 100%);
    border: 2px solid hsla(0,0%,100%,.5);
    border-radius: 10px;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 999;
}

.form-heading {
    color: white;
    font-weight: bold;
    text-align: center;
    font-size: 30px;
}

.form-ui {
    margin-bottom: 15px;
    margin-top: 15px;
}

.form-buttons {
    display: flex;
    justify-content: center;
    width: 100%;
}

.form-task-description-input, .form-task-date-input, .form-task-priority-input {
    margin-bottom: 15px;
}

.form-task-date-input, .form-task-priority-input {
    width: 100%;
}

/* Shared */

.hidden {
    display: none;
}

.highlighted {
    background-color: #444a4d;
}

.button {
    padding: 10px;
    cursor: pointer;
    margin: 20px;
    width: 150px;
    background-color: #444a4d;
    color: white;
    font-weight: bold;
    border-radius: 10px;
    border: 2px solid hsla(0,0%,100%,.5);
    text-align: center;
}

.button:hover {
    background-color: #2f3437;
}