/* Universal */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Helvetica, sans-serif;
}

/* General structure */

.container {
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-rows: 0.75fr 4.5fr;
    grid-template-columns: 1.25fr 4fr;
}

/* Left window */

.left-side {
    background-color: #373c3f;
}

.projects-list-upper-left {
    display: flex;
    grid-row: 1 / 1;
    grid-column: 1 / 1;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
}

h2 {
    color: white;
    font-weight: bold;
    font-size: 24px;
}

hr.solid {
    border-top: 1px solid #bbb;
    width: 50%;
}

.projects-list-lower-left {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Right window */
.projects-window-upper-right {
    background-color: #2f3437;
    grid-column: 2;
    grid-row: 1 / 3;
}